@using System.Globalization
@model EventManagement.Models.VolunteerRegistrationViewModel

@{
    ViewBag.Title = "VolunteerConfirm";
}
<head>
    <title>Event Registration</title>
    @*<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>*@
    <script src="~/js/registration.js" type="text/javascript"></script>
    
</head>
<h2>Volunteer Entry Confirmation</h2>

@using (Html.BeginForm())
{ 
    <div class="form-horizontal">
        
        <hr />
        @if (Model != null)
        {
            <div class="panel-default">
                Thank you for Volunteering for @Model.EventView.EventName !!!! <br/>
                Your confirmation will be sent via email to @Model.Person.ContactInfo.Email<br />
                (Please make sure to check your SPAM folder!)
            </div>
            <hr />
            <div class="row">
                @Html.ActionLink("Back to Home Page", "Index", "Home");
            </div>
        }
        else
        {
            <div class="panel-default">
                @TempData["ErrorMsg"]
            </div>
            <hr />
            <div class="row">
                    @Html.ActionLink("Start Over","EventVolunteerSelection","Registration", new { id = (int)@TempData["PersonId"] }, new { @class = "btn btn-info" })
            </div>
        }
        
    </div>
}

